<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white">

        <div class="w-full h-full p-10 text-white">
            
            <div style="display: flex; justify-content: space-between;">
                <a href="/" class="text-sm text-zinc-500 mt-3 hover:text-blue-500">back to home</a>
                <a class="text-zinc-900 ml-3 my-3 p-2 bg-zinc-500 mt-2 rounded-lg hover:bg-red-700" href="/logout">Logout</a>
            </div>

            <div class="flex">
                <div class="h-12 w-12 overflow-hidden" style="border-radius: 50%;">
                    <a href="/profile/upload">
                         <img class="h-full w-full object-cover"  src="/images/uploads/<%= user.profilepic %>" alt="Clickable Image">
                   </a>
                </div>
               <h1 class="text-xl text-green-500 m-3" style="display: flex; align-items: center;">Welcome <%= user.name  %> 😎</h1>
            </div>
            
            
            
            <h3 class="text-3xl tracking-tighter mb-3 text-center">You can create posts here</h3>
            <div style="display:flex ; justify-content: center; align-items: center;">
                <form action="/post" method="post" style="display: flex; flex-direction: column;">
                    <textarea class="px-5 py-2 bg-transparent text-white-900 border-2 border-blue-900 rounded-lg outline:none my-3 h-40 w-60" name="content" type="text" placeholder="whats in your mind?"></textarea>
                    <input class="px-5 py-2 bg-blue-500 rounded-lg ml-3" type="submit" value="Create post">
                </form>
           </div>

           <div class="posts mt-3">
                <h2 class="text-yellow-500 text-2xl">Your posts</h2>
                <div class="postcontainer" >
                    <% user.posts.reverse().forEach(post => {  %>
                        <div class="posts w-1/3 p-5 border-[1px] border-zinc-500 my-3 rounded-lg bg-zinc-800">
                            <h4 class="text-blue-500 mb-2"><%= user.username %></h4>
                            <p><%= post.content %></p>
                            
                            <div style="display: flex; justify-content: space-between;">
                                <div class="btns flex gap-4 mt-5">
                                    
                                        <a href="/like/<%= post._id %>" class="text-pink-500">
                                           <%= post.likes.indexOf(user._id) == -1 ? "like" : "dislike" %>
                                        </a>
                                   

                                    <a href="/edit/<%= post._id %>" class="text-yellow-500">edit</a>
                                    <a href="/delete/<%= post._id %>" class="text-red-500">delete</a>
                                    
                                </div>
                                <div class="btns flex gap-4 mt-5">
                                    <small><%= post.likes.length %> likes</small>
                                    <small><%= post.date %> </small>
                                </div>
                            </div>

                        </div>
                   <% }); %>
                    
                </div>
            </div>
        </div>
</body>
</html>